#img1{
    width: 700px;
    height: 700px;
    object-fit: fill;
}

#img2{
    width: 700px;
    height: 700px;
    object-fit: contain;
}

#img3{
    width: 700px;
    height: 700px;
    object-fit: cover;
}

#img4{
    width: 700px;
    height: 700px;
    object-fit: none;
}

#img5{
    width: 700px;
    height: 700px;
    object-fit:scale-down ;
}

