#a1{
    color: red;
    text-decoration: none
}
#a1:visited{
    color: blue;
}

#a1:hover{
    color: red;
    font-size: 16px;
    text-decoration: underline;
    background-color: white;
}

#a1:white{
    color: yellow;
}