#input:focus{
    background: pink;
    font-size: 25px;
}

#input2:disabled{
    background: darkgoldenrod;
}

#input2:enabled{
    background: yellow;
}

.input3:checked{
    height: 30px;
    width: 30px;
}

p:first-of-type{
    background-color: yellow;
}

p:last-of-type{
    background: yellow;
}

p:first-child{
    background: red;
}

p:last-child{
    background: red;
}

p:empty{
    width: 100px;
    height: 20px;
    background: blue;
}

p{
    color: black;
}

:not(p){
    background-color: lightblue;
}

p{
    background-color: blue;
}

:root{
    background: pink;
}

:target{
    border: 20px solid red;
    background-color: blueviolet;
}
